# pip install -qr requirements.txt

# base ----------------------------------------
Cython
matplotlib>=3.7.1
numpy>=1.23.5
opencv-python>=4.7.0.72
Pillow<10.1.0
PyYAML>=6.0
scipy>=1.10.1
tensorboard>=2.11.0
tensorflow>=2.11
torch>=1.13.1
torchvision>=0.14.1
torchaudio>=0.13.1
torchdata>=0.5.1
torchtext>=0.14.1
tqdm>=4.65.0

# logging -------------------------------------
# wandb

# plotting ------------------------------------
seaborn>=0.11.0
pandas

# export --------------------------------------
# coremltools>=4.1
# onnx>=1.8.1
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
thop  # FLOPS computation
pycocotools>=2.0  # COCO mAP
